<section class="contacts-1" id="contactus">
    <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>We love what we do. <br> Let us tell you why you will too.</h3>
            <%= render 'shared/error_messages' %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <%= form_for(@lead) do |f| %>
            <%= f.label :label, "Name / Last Name", class: "h6" %>
            <%= f.text_field :name, class:"form-control" %>
                <%= label(:lead, :email, "E-mail", class:"h6") %>
                <%= email_field(:lead,:email, class: "form-control") %>
                <%= label(:lead, :phone, "Phone", class:"h6") %>
                <%= telephone_field(:lead,:phone, class: "form-control") %>
                <%= label(:lead, :message, "Message", class:"h6") %>
                <%= text_area(:lead, :message, rows: 7, class:"form-control") %>
                <%= button_tag(type: 'submit',class: "btn btn-primary") do %>
                    <span class="fui-mail"></span>
                <% end %>
            <% end %>
        </div>
        
        <div class="col-sm-4 col-sm-offset-1">
            <div class="additional">
                <h6>Need Help?</h6>
                <p>Don’t hestiate to ask us something. Email us directly <%= image_tag(asset_path("infoatcodebyme"), size: "150" , alt: "Email to communicate") %> or call us at <b>407-901-2555</b>. You can checkout our <a href="#">FAQ</a> page to get more information about our service.</p>
            </div>
            <div class="additional">
                <h6>Some Facts</h6>
                <p>Every student in every school should have the opportunity to learn computer science.</p>
                <p>There are currently over 500k open computing jobs nationwide.</p>
            </div>
            <div class="phone">
                <big>401-901-2555</big>
                AVAILABLE ANYTIME
            </div>
        </div>
    </div>
    </div>
</section>
