<% provide(:title, "For Parents") %>

   <header id="parents" class="header-4 v-center bg-midnight-blue">
    <div class="background parents">&nbsp;</div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="hero-unit">
                        <h1>Image it, <br> Learn to Code, <br> Create it!</h1>
                        <p class="lead">We go to your school and teach kids coding.</p>
                    </div>
                    <div class="btns">
                      <a class="btn btn-info" href="#How">Learn How <span class="glyphicon glyphicon-play"> </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    <section class="content-5" id="How">
        <div class="container">
          <div class="feature-image" >
            <%= image_tag("long-arms-robot.png", class:"feature-image", style:"position:relative;") %>
          </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>How we create creators?  <a class="feature-image btn btn-info" href="javascript:;"><span class="feature-image glyphicon glyphicon-play"></span></a></h3>
                    <p class="lead">We are a group of technologists and educators that teach children computer coding to develop problem solving and critical thinking skills. Coding empowers students and gives them tools to express themselves in very creative ways.</p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-4 col-sm-offset-2">
                  <span class="fui-"><%= image_tag("bracket-code-icon.png") %> </span>
                    <h6>Afterschool Programs</h6>
                    <p>Let us come to your school! We provide the instructors, the technology and interactive content; all the schools need to provide is the learning space and the students eager to learn and create.</p>
                  <%= link_to("Learn More",programs_path + "#afterschoolprograms", class: "feature link") %>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <span class="fui-"><%= image_tag("browser-finger-icon.png") %> </span>
                    <h6>Summer Camps</h6>
                    <p>Summer camps designed for girls and boys between the ages of 7 and 13. These kids will come out wanting to become builders and makers of technology. Week long and full day sessions available.</p>
                  <%= link_to("Learn More",programs_path + "#summercamps", class: "feature link") %>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-4 col-sm-offset-2">
                  <span class="fui-"><%= image_tag("browser-icon.png") %> </span>
                    <h6>Hour of Code</h6>
                    <p>The Hour of Code is a one-hour introduction to computer science workshop, designed to expose kids to coding and show that anybody can learn the basics. This will take place December 7 - 13 in celebration of Computer Science Education Week. Join us, it’s free!</p>
                  <%= link_to("Learn More",programs_path + "#hourofcode",class: "feature link") %>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                  <span class="fui-"><%= image_tag("cloud-icon.png") %> </span>
                    <h6>Weekend Camps</h6>
                    <p>In 2016 we’re offering weekend camps. Bring your child Saturday and Sunday for an all day workshop focused on computer coding.</p>
                </div>
            </div>
        </div>
    </section>

<%= render "shared/quotes" %>

    <section class="content-4" id="section3">
        <div class="container">
        <h3>What is different about our program?</h3>
        <div class="row features">
            <div class="col-sm-4">
                <%= image_tag("pencil-ruler-icon.png", size:"100", alt:"pencil and ruler") %>
                <h6>About Us</h6>
                <p>We are a team of husband and wife who share the passion for technology and education. Together we are creating opportunities for kids to learn computer coding, a new type of literacy that will be very necessary in their future</p>
            </div>
            <div class="col-sm-4">
                <img src="<%= asset_path("common-files/icons/rocket@2x.png") %>" alt="" width="101" height="101">
                <h6>Our Mission</h6>
                <p>We have the mission to lead youth in becoming passionate builders - not just consumers - of technology by learning computer coding and technical skills in a hands-on, social, and collaborative way.</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag("desktop-icon.png", size:"100", alt:"pencil and ruler") %>
                <h6>What's different?</h6>
                <p>Our varied curriculum teaches computer coding using different resources. We have a welcoming environment where beginners of all backgrounds can come together to learn essential 21st century technical skills.</p>
            </div>
        </div>
        </div>
    </section>

    <%= render "shared/contacts" %>

