<% provide(:title, "For Parents") %>

    <section class="header-20-sub" id="sectionHeader">
        <div class="background">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 pull-right">
                  <div class="img-wrapper">
                    <%= image_tag("robot-in-a-wheel.png", alt:"robot in a wheel") %>
                    <div class="visible-xs">
                      <%= image_tag("boy-on-chair-with-computer-ox.png", alt:"boy on computer") %>
                    </div>
                    <div class="img hidden-xs">
                      <%= image_tag("boy-on-chair-with-computer-ox.png", alt:"boy on computer") %>
                      <%= image_tag("computer-ox.png", size:"250x250", alt:"computer desk") %>
                      <%= image_tag("boy-on-chair.png", alt:"boy on chair") %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h2>Your kids will build the future</h2>
                    <p>We give them the exposure and skills to help them.</p>
                    <a class="btn btn-info" href="#HowWeDoIt">Learn How =></a>
                </div>
            </div>
        </div>
    </section>

    <section class="content-5" id="section1">
        <div class="container">
            <img src="<%= asset_path("common-files/icons/magic-wand@2x.png") %>" width="200" height="200" alt="">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>How we create creators?</h3>
                    <p class="lead">We are a group of technologists and educators that give children problem solving and critical thinking skills through the use of computer coding. They get expose to the world of creation through science, so that they can break the consumer cycle and become creators.</p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-4 col-sm-offset-2">
                    <span class="fui-cmd"> </span>
                    <h6>Problem Solving</h6>
                    <p>Each problem requires a new set of skills to be solved during this age. We start by teaching computational thinking, but soon we get to problem solving.  </p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <span class="fui-windows"> </span>
                    <h6>Critical Thinking</h6>
                    <p>All our activities are fun, and focused around skills. Critical Thinking is the second focused area. Is required to know you are solving the right problem.</p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-4 col-sm-offset-2">
                    <span class="fui-upload"> </span>
                    <h6>Perseverance</h6>
                    <p>Thomas Edison tried 1,000 experiments before discovering the bulb light. He always thought he discovered 1,000 ways the problem was not solvable. Now we have the bulb light in each house-hold. </p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <span class="fui-credit-card"> </span>
                    <h6>Certified Teachers</h6>
                    <p>All our teachers have state teaching certification and are background check.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="content-12" id="section2">
        <a class="wide btn-wide" href="#"><b>Find a center near You</b></a>
    </section>

    <section class="content-4" id="section3">
        <div class="container">
        <h3>What is different about our program?</h3>
        <div class="row features">
            <div class="col-sm-4">
                <img src="<%= asset_path("common-files/icons/retina-ready-s@2x.png") %>" alt="" width="117" height="104">
                <h6>Fun and Engaging</h6>
                <p>We merge the best guides to teach children how to solve problem while learning computer coding. It's always fun!</p>
            </div>
            <div class="col-sm-4">
                <img src="<%= asset_path("common-files/icons/clock@2x.png") %>" alt="" width="104" height="104">
                <h6>Common Interests</h6>
                <p>We plan activities around common interests to make sure learnings are aquired and also applied in future sessions.</p>
            </div>
            <div class="col-sm-4">
                <img src="<%= asset_path("common-files/icons/rocket@2x.png") %>" alt="" width="101" height="101">
                <h6>Industry Experience</h6>
                <p>We know the technology and educational industry and we can bring it all together in a fun and egaging manner.</p>
            </div>
        </div>
        </div>
    </section>

    <%= render "shared/contacts" %>

