<% provide(:title, "Kid Programs for Learning Coding") %>


<section class="content-31">
    <div class="container">
        <div class="row">
            <div class="number">1</div>
            <div class="col-sm-8 col-sm-offset-2" id="afterschoolprogram">
                <h3>After School Programs</h3>
                <p>These Samples will guide you through and show how to use the blocks and give you the feeling on
                    how to play around using the components in the website building process.</p>
                <div class="box">
                    <div class="img">
                      <%= image_tag("coding-projects-for-kids-with-blockly-app-wonder-workshop_zpsxzwnjuso.png", size: "380x187", alt: "Girl with Block Codes") %>
                      <%= image_tag("coding-projects-for-kids-with-blockly-app-wonder-workshop_zpsxzwnjuso.png", size: "380x187", alt: "Girl with Block Codes") %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="number">2</div>
            <div class="col-sm-8 col-sm-offset-2" id="summercamps">
                        <h3>Summer Camps</h3>
                        <p>It contains many basic and complex components which are great for designers to have at hand:
                            buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
                        <div class="box">
                            <div class="img">
                              <%= image_tag("common-files/img/content/map-bw@2x.png", size: "380x179") %>
                              <%= image_tag("common-files/img/content/map@2x.png", size: "380x179") %>
                            </div>
                        </div>
          </div>
      </div>

        <div class="row">
            <div class="number">3</div>
            <div class="col-sm-8 col-sm-offset-2">
                <div id="pt-2" class="page-transitions pt-perspective pt-item-1 pt-first">
                        <h3>Hour of Code</h3>
                        <p>It contains many basic and complex components which are great for designers to have at hand:
                            buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
                        <div class="box">
                            <div class="img">
                              <%= image_tag("common-files/img/content/ps-wire-imac-bw@2x.png", size: "397x193") %>
                              <%= image_tag("common-files/img/content/ps-wire-imac@2x.png", size: "397x193") %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

