<% provide(:title, "Kid Programs for Learning Coding") %>


<section class="content-31">
    <div class="container">
        <div class="row" id="afterschoolprogram">
            <div class="number">1</div>
            <div class="col-sm-8 col-sm-offset-2" >
                <h3>After School Programs</h3>
                <p>Our program is currently offered in various schools in the Orlando vicinity. We provide schools with certified teachers, the curriculum and the technology to offer our program at your school. The enrollment process is easy and can be done directly with us.</p>
                <div class="box">
                    <div class="img">
                      <%= image_tag("coding-projects-for-kids-with-blockly-app-wonder-workshop_zpsxzwnjuso.png", size: "380x187", alt: "Girl with Block Codes") %>
                      <%= image_tag("coding-projects-for-kids-with-blockly-app-wonder-workshop_zpsxzwnjuso.png", size: "380x187", alt: "Girl with Block Codes") %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="summercamps">
            <div class="number">2</div>
            <div class="col-sm-8 col-sm-offset-2" >
                        <h3>Summer Camps</h3>
                        <p>We offer week-long summer camps, in which your kid will have fun while learning computer coding, robotics and game design. To receive an early sign-up discount, please contact us at <%= link_to(image_tag("infoatcodebyme.png", size: "150" , alt: "Email to communicate"), root_path + "#contactus") %>.</p>
                        <div class="box">
                            <div class="img">
                              <%= image_tag("children-playing-outside-orlando-fl.jpg", size: "380x179", alt: "Children Playing Outside in Orlando FL") %>
                              <%= image_tag("children-playing-outside-orlando-fl.jpg", size: "380x179", alt: "Children Playing Outside in Orlando FL") %>
                            </div>
                        </div>
          </div>
      </div>

        <div class="row" id="hourofcode">
            <div class="number">3</div>
            <div class="col-sm-8 col-sm-offset-2">
                <div id="pt-2" class="page-transitions pt-perspective pt-item-1 pt-first">
                        <h3>Hour of Code</h3>
                        <p>During the week of December 7 through 13, we celebrate the computer science week. We will take part by hosting the hour of code. Also, throughout the year we offer hour long workshops for children to explore our curriculm and fun activities.</p>
                        <div class="box">
                            <div class="img">
                              <%= image_tag("zuckerberg_poster-2013.png", size: "397x193") %>
                              <%= image_tag("zuckerberg_poster-2013.png", size: "397x193") %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

