<% provide(:title, "Kid Programs for Learning Coding") %>


<section class="content-31">
    <div class="container">
        <div class="row" id="afterschoolprogram">
            <div class="number">1</div>
            <div class="col-sm-8 col-sm-offset-2" >
                <h3>After School Programs</h3>
                <!-- <% #TODO Create After school program content %> -->
                <p>These Samples will guide you through and show how to use the blocks and give you the feeling on
                    how to play around using the components in the website building process.</p>
                <div class="box">
                    <div class="img">
                      <%= image_tag("coding-projects-for-kids-with-blockly-app-wonder-workshop_zpsxzwnjuso.png", size: "380x187", alt: "Girl with Block Codes") %>
                      <%= image_tag("coding-projects-for-kids-with-blockly-app-wonder-workshop_zpsxzwnjuso.png", size: "380x187", alt: "Girl with Block Codes") %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="summercamps">
            <div class="number">2</div>
            <div class="col-sm-8 col-sm-offset-2" >
                        <h3>Summer Camps</h3>
              <!-- <% #TODO Create Summer Camp program content %> -->
                        <p>It contains many basic and complex components which are great for designers to have at hand:
                            buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
                        <div class="box">
                            <div class="img">
                              <%= image_tag("children-playing-outside-orlando-fl.jpg", size: "380x179", alt: "Children Playing Outside in Orlando FL") %>
                              <%= image_tag("children-playing-outside-orlando-fl.jpg", size: "380x179", alt: "Children Playing Outside in Orlando FL") %>
                            </div>
                        </div>
          </div>
      </div>

        <div class="row" id="hourofcode">
            <div class="number">3</div>
            <div class="col-sm-8 col-sm-offset-2">
                <div id="pt-2" class="page-transitions pt-perspective pt-item-1 pt-first">
                        <h3>Hour of Code</h3>
                  <!-- <% #TODO Create Hour of Code program content %> -->
                        <p>It contains many basic and complex components which are great for designers to have at hand:
                            buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
                        <div class="box">
                            <div class="img">
                              <%= image_tag("zuckerberg_poster-2013.png", size: "397x193") %>
                              <%= image_tag("zuckerberg_poster-2013.png", size: "397x193") %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

