<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/analyticstracking" %>
  <%= render "layouts/facebooksdk" %>
        <header class="header-20 navbar-fixed-top" id="top" role="navigation">
            <div class="container">
            <% flash.each do |message_type, message| %>
            <div class="container main-error">
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            </div>
            <% end %>
                <div class="row">
                    <div class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                             <%= link_to(image_tag(asset_path("20151010 - codebyme logo.png"), size: "230x132", alt: "Code by Me"), root_path, class: "brand") %>
                          <div class="navbar brand">
                      <a id="socialpopover" tabindex="0" class="btn btn-sm navbar-btn" role="button"  data-placement="bottom"
                               data-html="true" title="Social Options">
                              <div role="navigation" class="fui-facebook navbar-btn"></div>
                                </a>
                      </div>
                        </div>

                        <div class="navbar-collapse collapse pull-right">
                            <ul class="nav">
                              <%= render "shared/nav_links" %>
                            </ul>
                          <!-- The content below is the facebook like icon - to be shown as a popover -->
                          <div id="popoverHiddenContent" style="display: none" class='fb-like' data-layout='button' data-action='like' data-show-faces='false' data-share='false'></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="header-background"></div>
        </header>

    <%= yield %>

        <footer class="footer-12" id="section4">
            <div class="container">Start creating with CodebyMe.com</div>
            <div class="additional">
            With <span class="fui-heart"> </span> from Orlando, Florida
            </div>
        </footer>

        <footer class="footer-2 bg-midnight-blue" id="section5">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li class="active"><a href="#top">Take me Up</a></li>
                        <%= render "shared/nav_links" %>
                    </ul>
                </nav>
                <div class="social-btns pull-right">
                    <%= render "shared/social_links" %>
                </div>
            </div>
        </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= debug(params) if Rails.env.development? %>
</body>
</html>
